.box {
    padding: 20px;
    display: flex;
    
}
#childbox1{
    
    height: 25%;
    margin-left:15%;
     
    width:15%;
    float: left;
    padding: 20px;
}  
#childbox2{
    
    width:35%;
    float: left;
    padding: 20px;
    display: block;
}
#options{
    background-color: black;
    margin-top:10%;
}
.select
{
    margin-top:20%;
    width:100%;
    justify-content: center;
    display: flex;
    
  
}

#view{
    width:35%;
    background-color:white;
  color:green;
  border:2px solid green;
  height:5%;
  padding:10px;
  text-align:center;
  font-family:Helvetica;
    font-size:150%;
    border-radius:10px;
    margin-left:45px;
  
  

   
} 
#addstudent
{
    width:35%;
    background-color:white;
    color:orangered;
    border:2px solid orangered;
    height:5%;
    padding:10px;
    text-align:center;
    font-family:Helvetica;
    font-size:150%;
    border-radius:10px;
    margin-left:45px;
    margin-bottom:45px;

}

#changepassword{
    width:47%;
  background-color:white;
    color:maroon;
  
    height:5%;
    padding:10px;
    text-align:center;
    font-family:Helvetica;
    font-size:150%;
  border-radius:10px;
  margin-left:3%;
  
}
#logout{
    width:25%;
  background-color:white;
  color:midnightblue;
  border:2px solid midnightblue;
  height:5%;
  padding:10px;
  text-align:center;
  font-family:Helvetica;
    font-size:150%;
    margin-bottom:4%;
   margin-left:12%;
    border-radius:10px
}
#view:hover
{
  background-color:gray;
  color:white;
  padding:10px;
  border:2px solid gray;
}
#changepassword:hover
{
  background-color:maroon;
  border: 2px solid white;
  color:white;
  padding:10px;
}
#logout:hover
{
  background-color:midnightblue;
  color:white;
  border:2px solid midnightblue;
  padding:10px;
}

#addstudent:hover{
    background-color:orangered;
    border:2px solid aliceblue;
    color:white;
    box-shadow: inset;
}