.box {
    padding: 20px;
    display: flex;
}
#childbox1
{
    height: 25%;
    margin-left:2%;
    background-color:transparent;
    width:15%;
    float: left;
    padding: 20px;
} 
#childbox2{
   width:35%;
    margin-left:25%;
    padding: 20px;
}
#table{
    margin-top: 10%;
}
td
{
    text-align: center;
  width:500px;
}
tr
{
  line-height:30px;
}
#options{
    background-color: black;
    margin-top:10%;
}
.select
{
	margin-left:-2%;
	margin-top:15%;
	width:100%;
    justify-content: center;
    display: flex;
    flex-wrap: flex-wrap;
	
} 

#logout{
    width:25%;
	background-color:white;
	color:black;
	border:1px solid darkslategray;
	height:5%;
	padding:10px;
	text-align:center;
	font-family:Helvetica;
	font-size:150%;
	margin-left:-230px;
    border-radius:10px
}

#logout:hover
{
	background-color:maroon;
	color:white;
	padding:10px;
}

#back{
    width:15%;
	background-color:white;
	color:black;
	border:1px solid darkslategray;
	height:20%;
	padding:10px;
	text-align:center;
	font-family:Helvetica;
    font-size:150%;
    margin-left:5%;
	
	border-radius:10px;
}
#back:hover
{
	background-color:maroon;
	color:white;
	padding:10px;
}
